<header class="jumbotron">
	<h1>Upload Song <span class="glyphicon glyphicon-cloud-upload"></span></h1>
</header>
<div class="container">

	<% if !@song.errors.empty? %>
	   <div class = "alert alert-error">	      
	      <ul>
	         <% @song.errors.full_messages.each do |msg| %>
	            <li><%= msg %></li>
	         <% end %>
	      </ul>	      
	   </div>
	<% end %>

	<div class="well">
		<%= form_for(@song, html: { multipart: true }) do |f| %>
		<p>
			<%= f.label :song_url %><br>
			<%= f.file_field :song_url %>
		</p>
		<p>
			<%= f.label :mood_list %><br>
			<%= f.text_field :mood_list%>
		</p>
		<p>
			<%= f.submit "Upload",class: "btn btn-primary" %>
		</p>
		<% end %>	
	</div>
</div>